<div id="wrap">
  <input value="{{ value }}" readonly />
  <button (click)="keyUp(1)">1</button>
  <button (click)="keyUp(2)">2</button>
  <button (click)="keyUp(3)">3</button>
  <button (click)="keyUp(4)">4</button>
  <button (click)="keyUp(5)">5</button>
  <button (click)="keyUp(6)">6</button>
  <button (click)="keyUp(7)">7</button>
  <button (click)="keyUp(8)">8</button>
  <button (click)="keyUp(9)">9</button>
  <button (click)="keyUp('+')">+</button>
  <button (click)="keyUp('-')">-</button>
  <button (click)="keyUp(0)">0</button>
  <button (click)="keyUp('*')">*</button>
  <button (click)="keyUp('/')">/</button>
  <button (click)="keyUp('=')">=</button>
</div>
